
<header>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Portfolio', portfolio_path %></li>
      <li><%= link_to 'Movie Finder', movie_finder_path %></li>
      <li><%= link_to 'Old Film Work', old_film_work_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>

    </ul>
  </nav>
</header>
